.button {
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: 8px 8px 0 var(--black);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem;
  transition: background-color 0.15s ease, box-shadow 0.15s ease,
    transform 0.15s ease;
}
.button:hover,
.button:focus,
.button:active {
  background-color: var(--highlight);
  box-shadow: var(--shadow);
  transform: var(--translate);
}

.button.dark {
  color: var(--white-dark);
  background-color: var(--dark);
}
.button.dark:hover,
.button.dark:focus,
.button.dark:active {
  background-color: var(--highlight-dark);
}

@media (prefers-color-scheme: dark) {
  .button {
    color: var(--white-dark);
    background-color: var(--dark);
  }

  .button:hover,
  .button:focus,
  .button:active {
    background-color: var(--highlight-dark);
  }
}
