.button {
  background-color: #ffffff;
  border: 4px solid #000000;
  border-radius: 10px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 1);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem;
  transition: background-color 0.15s ease, box-shadow 0.15s ease,
    transform 0.15s ease;
}
.button.dark {
  color: #e5e5e5;
  background-color: #1f1a19;
}
@media (prefers-color-scheme: dark) {
  .button {
    color: #e5e5e5;
    background-color: #1f1a19;
  }
}
.button:hover,
.button:focus,
.button:active {
  background-color: #ffe234;
  box-shadow: 16px 16px 0 rgba(0, 0, 0, 1);
  transform: translate(0, -2px);
}
.button.dark:hover,
.button.dark:focus,
.button.dark:active {
  background-color: #2f294f;
  box-shadow: 16px 16px 0 rgba(0, 0, 0, 1);
  transform: translate(0, -2px);
}
@media (prefers-color-scheme: dark) {
  .button:hover,
  .button:focus,
  .button:active {
    background-color: #2f294f;
    box-shadow: 16px 16px 0 rgba(0, 0, 0, 1);
    transform: translate(0, -2px);
  }
}
