.card {
  background-color: var(--white);
  box-shadow: var(--shadow);
  transform: translate(0, 0);
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: var(--border);
  border-radius: var(--border-radius);
  transition: color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease,
    transform 0.15s ease, background-color 0.15s ease;
}
.card.dark {
  background-color: var(--dark);
}
@media (prefers-color-scheme: dark) {
  .card {
    background-color: var(--dark);
  }
}

.card.official {
  background-color: var(--culturally-irrelevant-red);
  border: var(--border-red);
  color: var(--white);
  transition: border 0.15s ease;
}
.card.official.dark {
  background-color: var(--culturally-irrelevant-red-dark);
  border: var(--border);
}
@media (prefers-color-scheme: dark) {
  .card.official {
    background-color: var(--culturally-irrelevant-red-dark);
    border: var(--border);
  }
}

.card:hover,
.card:focus,
.card:active,
.card.official:hover,
.card.official:focus,
.card.official:active {
  box-shadow: var(--shadow-2x);
  transform: var(--translate-up);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;

  text-shadow: 0 0 0 var(--black-transparent);
  transition: transform 0.15s ease;
}

.card:hover h3,
.card:focus h3,
.card:active h3 {
  transform: rotate(-2deg) scale(1.1) translate(8px, 0);
}

.card.official:hover h3,
.card.official:focus h3,
.card.official:active h3 {
  text-shadow: 0 0.15rem 0 var(--black);
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.card .externalLink {
  /* mobile styles */
  box-shadow: 4px 4px 0 var(--black);
  opacity: 1;
  right: -8px;
  transform: rotate(0deg);

  background-color: var(--culturally-irrelevant-red);
  border: var(--border-red);
  border-radius: 16px;
  display: block;
  font-size: 1.8em;
  height: 32px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: -8px;
  width: 32px;
  transition: right 0.15s ease, opacity 0.15s ease, transform 0.15s ease;
}
@media (min-width: 600px) {
  .card .externalLink {
    box-shadow: auto;
    opacity: 0;
    right: 0px;
    transform: rotate(-25deg);
  }
}

.card.dark .externalLink {
  background-color: var(--culturally-irrelevant-red-dark);
  border: var(--border);
  border-radius: 20px;
  height: 40px;
  line-height: 30px;
  width: 40px;
}
@media (prefers-color-scheme: dark) {
  .card .externalLink {
    background-color: var(--culturally-irrelevant-red-dark);
    border: var(--border);
    border-radius: 20px;
    height: 40px;
    line-height: 30px;
    width: 40px;
  }
}

.card:hover .externalLink,
.card:focus .externalLink,
.card:active .externalLink {
  box-shadow: var(--shadow);
  opacity: 1;
  right: -12px;
  transform: rotate(0deg);
}

.audio {
  margin-bottom: 0.6rem;
  width: 100%;
}
