.dialogOverlay {
  background-color: var(--overlay);
}
.dialogOverlay.dark {
  background-color: var(--overlay-dark);
}
@media (prefers-color-scheme: dark) {
  .dialogOverlay {
    background-color: var(--overlay-dark);
  }
}

.dialog {
  background-color: var(--white);
  border-radius: var(--border-radius);
  border: var(--border);
  position: relative;
}
.dialog.dark {
  background-color: var(--dark);
}
@media (prefers-color-scheme: dark) {
  .dialog {
    background-color: var(--dark);
  }
}

.closeDialogButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  line-height: 0.8rem;
  padding: 0px;
  position: absolute;
  right: 16px;
  top: 16px;
  transition: color 0.15s ease, transform 0.15s ease;
}
.closeDialogButton.dark {
  color: var(--white-dark);
}
.closeDialogButton:hover,
.closeDialogButton:focus,
.closeDialogButton:active {
  color: var(--culturally-irrelevant-red);
  transform: var(--translate-up);
}
