.fab {
  display: none; /* Don't display on small screens. */
  position: fixed;
  bottom: 32px;
  right: 32px;
}
.fab.top {
  bottom: auto;
  top: 32px;
}
@media (min-width: 600px) {
  .fab {
    display: block;
  }
}
