.link {
  color: var(--culturally-irrelevant-red);
}
.link.dark {
  color: var(--white-dark);
  text-decoration: underline;
}
.link.dark:hover {
  color: var(--white);
}
@media (prefers-color-scheme: dark) {
  .link {
    color: var(--white-dark);
    text-decoration: underline;
  }
  .link:hover {
    color: var(--white);
  }
}
