@media (prefers-color-scheme: dark) {
  .darkModeSwitch {
    display: none;
  }
}

.buttonWrapper {
  margin-bottom: 24px;
  max-width: 240px;
  width: 100%;
}

.ciGang {
  border-radius: var(--border-radius);
  margin-bottom: 24px;
  width: 100%;
}
.ciGang.dark {
  filter: grayscale(95%);
}
@media (prefers-color-scheme: dark) {
  .ciGang {
    filter: grayscale(95%);
  }
}

.message {
  background-color: var(--white);
  box-shadow: 8px 8px 0 var(--black);
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  border: var(--border);
  border-radius: var(--border-radius);
}
.message:not(.error) {
  animation: shake 0.6s;
  animation-iteration-count: infinite;
}
.message.dark {
  background-color: var(--dark);
}
@media (prefers-color-scheme: dark) {
  .message {
    background-color: var(--dark);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
